body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(165, 75, 75);
}

h1 {
    font-size: 7rem;
    font-family: 'Darumadrop One', cursive;}

.letter {
    transition: color 1000ms;
}